<!DOCTYPE html>
<html>
    <head>
        <title>Mercado Liebre</title>
        <img src="img/logo-mercado-liebre.svg" alt="" width="100%">
        <link href="css/stile.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <input type="text">
            <p>Aqui Compras en coutas y sin TC <i class="fas fa-hand-holding-usd"></i>  </p>
        </header>
        <nav>
            <ul>
                <li> <a href="#">Ofertas</a></li>
                <li> <a href="#">Tiendas Oficiales</a></li>
                <li> <a href="#">Vender</a></li>
                <li> <a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li> <a href="/register">Crea tu cuenta <i class="fas fa-shopping-basket"></i></a></li>
                <li> <a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li> <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <main>
            <form  action="/registerDone" method="POST" id="register">
                <label for="fname">Nombre:</label>
                <br>
                <input type="text" id="fname" name="fname" required minlength="4" maxlength="16">
                <br>
                <br>
                <label for="lname">Apellido:</label>
                <br>
                <input type="text" id="lname" name="lname" required minlength="4" maxlength="16">
                <br>
                <br>
                <label for="birth">Fecha de Nacimiento:</label>
                <br>
                <input type="date" id="birth" name="birth"  required>
                <br>
                <br>
                <label for="direction">Domicilio</label>
                <br>
                <input type="text" id="direction" name="direction" required minlength="4" maxlength="16"><br>
                <br>
                <p>Tipo de Cuenta</p>


                <input type="radio" name="currentemployment" value="fulltime"> Comprador
                <br>

                <input type="radio" name="currentemployment" value="parttime"> Vendedor
                <br>

    
                <p>Categorias de Interes</p>
                <div>
                    <input type="checkbox" id="electro" name="electro">
                    <label for="electro">Electro</label>
                </div>
                <div>
                    <input type="checkbox" id="moda" name="moda">
                    <label for="moda">Moda</label>
                </div>
                <div>
                    <input type="checkbox" id="hogar" name="hogar">
                    <label for="hogar">Hogar</label>
                </div>
                <div>
                    <input type="checkbox" id="jugueteria" name="jugueteria">
                    <label for="jugueteria">Juguetería</label>
                </div>
                <div>
                    <input type="checkbox" id="vida" name="vida">
                    <label for="vida">Vida Sana</label>
                </div>
                <br>
                <label for="picture">Foto de Perfil</label>
                <input type="file" id="picture" name="picture" required>
                <br>
                <br>
                <label for="passw">Contraseña</label><br>
                <input type="password" id="passw" name="passw"  required minlength="8" maxlength="16">
                <br>
                <br>
                <label for="passw2">Confirmacion de Contraseña</label><br>
                <input type="password" id="passw2" name="passw2" required minlength="4" maxlength="32"><br>
            </form>
            <br>

            <button type="submit" form="register" value="submit">Enviar</button>
            <button type="reset" form="register" value="reset">Borrar</button>

                


            

        </main>
        <footer>
            <center>
                <i class="fas fa-credit-card"></i> 
                <h5>Pagá con tarjeta o en efectivo </h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                <br>
                <i class="fas fa-gift"></i>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                <br>
                <i class="fas fa-user-shield"></i>
                <h5>Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                <br>
                <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
            </center>
        </footer>

    </body>
</html>